@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
html {
    font-size: 62.5%;
    font-family: "Roboto",sans-serif;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: rgb(81, 149, 228);
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons img{
    width: 30px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: white;
    border-bottom: 2px solid black;
}
nav .nav-logo-container {
    margin-left: 105px;
}
nav .nav-logo-container img {
    width: 85px;
    margin-top: 3px;
   
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('/css/assets/img/01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    background-color: rgb(255, 255, 255);
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 30px;
}
.home-main-text {
    font-family: 'Roboto', monospace;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 30px;
}
.home-main-text2 {
    font-size: 19px;
    letter-spacing: 2px;
    padding: 5px;
    margin-top: 10px;
}
.home-main-buttom {
    width: 110px;
    height: 50px;
    background: rgb(0, 0, 0);
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 10px;
    color: wheat;
    margin-top: 80px;
}
.blog-main {
    display: grid;
    width: 100%;
}
.blog-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blog-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blog-main-new h3 {
    padding: 15px;
    font-size: 2.5rem;
}
.blog-news-img-container {
    grid-column: 1;
}
.blog-news-img-container img {
    width:80%;
}
.blog-news-info-container {
    grid-column: 2;
    border-left: 2px solid black;
    padding-left: 30px;
}
.blog-news-info-container h2 {
    padding: 1.5rem 0 ;
    font-size: 1.9rem;
}
.blog-news-info-container p {
    font-size: 1.5rem;
}
.blog-news-info-container a {
    font-size: 1.5rem;

}
.blog-news-info-container p {
    margin-bottom: 35px;
}
.blog-buttom {
    border: 1px solid rgb(81, 149, 228);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 7px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid rgb(81, 149, 228);
    text-align: center;
}
footer p {
    color: #e6e9ed;
    margin-top: 30px;
}






